.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
*_cache/
*.rds

# database
data/daily/
data/hourly/

# large non-diffable files
*.pdf

# targets store
_targets/

# rendered docs
# docs/*.html
# docs/*_files/