.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron

/.quarto/
*_cache/
*.rds

# database
data/daily/
data/hourly/

# large non-diffable files
*.pdf

# targets store
_targets/

# rendered docs
# docs/*.html
# docs/*_files/

# rendered site
_site/

# connect
rsconnect/
